/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .submenu_area {
        max-width: 400px;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .top_sidebar nav ul {
        margin-top: 15px;
    }

    .top_sidebar nav ul li a {
        font-weight: 600;
        padding: 10px;
        font-size: 15px;
    }

    .submenu_area {
        max-width: 300px;
    }

    video {
        height: auto !important;
    }
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header-top ul {
        gap: 10px !important;
    }

    .top_sidebar {
        margin-right: 10px !important;
    }

    .top_sidebar nav ul {
        margin-top: 15px;
    }

    video {
        height: auto !important;
    }

    .information-area .container {
        gap: 20px !important;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {

    .header-top ul {
        display: block !important;
        text-align: center;
    }

    .header-top ul li a:hover {
        background: transparent !important;
        color: #fff !important;
    }

    .top_sidebar nav ul {
        margin-bottom: 3px;
    }

    video {
        height: auto !important;
    }

    .information-area .container {
        gap: 20px !important;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

}